@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">

    <h1 class="display-2">Angel's GPU Surplus</h1>
    <br />
    <br />
    <br />
    <h4>Mission Statement</h4>
    <p>
        Here at the GPU Surplus Depot we offer a world renowned cornucopia of video cards, entertainment systems, and cybernetic enhancements to select stores and customers!

    </p>
    <h4>Price Match Guarantee</h4>
    <p>
        Show us pricing that rivals ours and we will match it! We strive to leave our competitors in the dust!
    </p>
    <br />
    <br />
    <h4>Free Shipping</h4>
    <p>
        Free shipping on orders over $1000 and insured by most prominent delivery services in the U.S. 
        For an premium fee, express shipping is available in case you cannot live another day without seeing your visuals in 8k Ultra!
            *Standard shipments arrive usually within 4-12 business weeks.
    </p>

</div>

@Html.ActionLink("List of Customers", "Index", "Customer", new { @style = "color: white" })